@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,600;1,600&family=Open+Sans:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(123, 173, 119);
}

header .logo {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(38, 76, 16);
    border-radius: 5px;
    padding: 10px;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
}

header .logo:hover {
    color: black;
    background-color: rgb(226, 226, 226);
    transition: 0.5s;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    margin-left: 30px;
}

header .navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover {
    border-bottom: 5px solid rgb(66, 125, 33);
    padding: 2px;
}



.contenido {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    height: 100vh;
    margin-top: 10%;
    background-color:  rgb(46, 105, 1);
}

.contenido section {
    width: 100%;
    height: 90%;
}

.lista_imagenes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    height: 50%;
    background: rgb(46, 105, 1);
}

.card {
    position: relative;
    width: 30%;
    height: 30vh;
    margin: 5px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /*Determinar si es visible*/
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}

.card .front .esport {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.card .front .python {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: white;
}

.card .front .street {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: white;
}

.card .front h3 {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20%;
    line-height: 50px;
    color: white;
    background: rgba(0,0,0, 0.6);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(174, 4, 4);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 5px 10px #000;
}

.card .back .link {
    border-top: 1px solid white;
    height: 50px;
    line-height: 50px;
}

.card .back h3 {
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 0.9em;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.card .back .link a {
    color: yellow;
}






.copyright {
    position: absolute;
    bottom: 50px;
    left: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(81, 116, 56);
    border-radius: 5px
}

.copyright p {
    color: rgb(255, 255, 255);
    text-align: center;
}

/*Redes sociales*/

.redesSociales {
    position: relative;
    top: 400px;
    right: 100px;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1px;
    list-style: none;
}

.redesSociales li {
    padding: 10px;
}

.redesSociales li a {
    color: rgb(0, 0, 0);
    font-size: 3em;
    transition: 0.5s;
}

.redesSociales li:hover a {
    color: rgb(255, 255, 255);
}